@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

header ul li {
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
}

header a {
    text-decoration: none;
    color: #000;
}

header img {
    width: 80px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.gap {
    gap: 32px;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.fixed {
    position: sticky;
    z-index: 0;
}

/* HEADER*/
.style {
    background-color: #CA7373;
    color: white;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* HERO*/
.NomComStyle {
    satisfy-regular {
        font-family: "Satisfy", cursive;
        font-size: 46px;
        font-weight: 400;
        font-style: normal;
      }
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;

}

.absolute h1,
.absolute h2 {
    margin-bottom: 16px;
}

.relative {
    position: relative;
    margin-bottom: 64px;
}

.imageHero {
    width: 100%;
    opacity: 50%;
    height: 500px;
    object-fit: cover;
}

/* Liste */
li {
    margin-top: 5px;
    list-style-position: inside;
}

.listDecoNone {
    list-style-type: none;
}




.cardCSS {
    
    border: 1px solid #FFF;
    box-shadow: 0px 0px 4px 0px rgba(130, 130, 130, 0.71);
    padding: 15px;
    margin-bottom: 35px;
    width: 30%;

}

.cardCSS img {
    width: 100%;
}

.cardImg {
    display: block;
    width: 100%
}

.imgProd {
    width: fit-content;
    height: fit-content;

}
/* SECTION PRODUIT*/

/* SECTION AVANTAGE*/

.AvtgClientContainer {
    position: relative;
    display: inline-block;
}

.AvtgClient img {
    width: 100%;
    /* Vous pouvez ajuster cette valeur selon la taille de l'image */
    height: auto;
    /* Assurez-vous que l'image garde ses proportions */
}

.PositionTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Couleur du texte, ajustez selon l'image */
    font-size: 42px;
    /* Taille du texte */
    text-align: center;
    /* Centrer le texte */
}

.avtgImg {
    /* From https://css.glass */
    background: rgba(104, 42, 115, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(104, 42, 115, 0.53);
}

/*FOOTER*/
.txt {
    text-align: center;
}